{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    {% block titulo_principal %} {% endblock %}
    <link rel="stylesheet" href="{% static 'app_t_virtual/css/base.css' %}"> <!-- css -->
</head>
<body>
    <header>
        {% block encabezado %} {% endblock %}
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'remeras' %}">Remeras</a></li>
            <li><a href="{% url 'buzos' %}">Buzos</a></li>
            <li><a href="{% url 'ofertas' %}">Ofertas</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
        </ul>
    </nav>
    <main>
        {% block contenido %} {% endblock %}
    </main>
    <footer>
        {% include 'app_t_virtual/componentes/anuncio.html' %} <!-- anuncio -->
        {% filter upper %}
        <p>
            Tienda Virtual 2023. Todos los derechos Reservados.
        </p>
        {% endfilter %}

</footer>
</body>
</html>