{% extends 'app_t_virtual/base.html' %}
{% load static %}
{% block titulo_principal %}
<h1>Contactanos</h1> 
{% endblock %} 

{% block encabezado %}
<hr>
<h3>Si tenes alguna consulta, no dudes en llenar el formulario de abajo.</h3>
<hr>
{% endblock %}

{% block contenido %}
<div class="container contact-container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <div class='input-group mb-3'>
                <form action='{% url 'contacto' %}' method="post" class='form-group d-flex-column'>
                    {% csrf_token %}
                    {{ form }}
                    <div class='text-center'>
                        <input type="submit" value="Contactar" class="btn btn-primary enviar">
                    </div>    
                </form>
            </div>
        </div>
    </div>
</div>
<hr>
{% endblock %}