{% extends 'app_t_virtual/base.html' %}
{% load static %}
{% block titulo_principal %}
<h1>Contactanos</h1> 
{% endblock %} 

{% block encabezado %}
<hr>
<h3>Si tenes alguna consulta, no dudes en llenar el formulario de abajo.</h3>
<hr>
{% endblock %}

{% block contenido %}
<div class='input-group mb-3'>
    <form action='{% url 'contacto' %}' method="post" class='form-group d-flex-column'>
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Contactar" class="btn btn-primary">
    </form>
</div>
<hr>
{% endblock %}