{% extends 'app_t_virtual/base.html' %}

{% block titulo_principal %}<h1>Contactanos</h1> {% endblock %} 

{% block encabezado %}
<h2>Sobre nosotros</h2>
<h3>Somos una empresa dedicada a la creación de remeras con diseños populares y personalizados</h3>
{% endblock %}

{% block contenido %}
<form>
    <label for="">Nombre</label><input type="text">
    <label for="">Apellido</label><input type="text">
    <label for="">Teléfono</label><input type="text">
    <label for="">Mensaje</label><input type="text">
</form>
{% endblock %}