{% extends 'app_t_virtual/base.html' %} 
{% load static %} 
{% block titulo_principal %}
<h1>Tienda Virtual</h1>
{% endblock %} 
{% block encabezado %}
<h2>DESCUBRENOS</h2>
<p>Bienvenid@ <b>{{first_name}} {{last_name}}</b></p>
{% endblock %} 
{% block contenido %}
<!-- quite el listado de remeras  -->
<div class='hot-sale'>
  <video src='{% static '/video/portada.mp4' %}' preload='auto' autoplay loop style= 'width: 100%; height: 100%'></video>
</div>
<!-- ver imagen   -->
<div class="container-fluid main-img">
  <img
    class="img-fluid"
    src="{% static 'img/remera_portada.jpg' %}"
    alt="Remera portada" 
    />
</div>
{% endblock %}
